// Original source: https://github.com/web-tiki/responsive-grid-of-hexagons

* {
    margin: 0;
    padding: 0;

}
#hexContainer{
    display:inline-block;
    background-image: url("../images/grass_05.png");
    padding: 25px;

}

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn ,.hexInNav{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * ,.hexInNav *{
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  //background-color: black ; // Background for hexagon
  background-repeat: no-repeat;
  background-size: cover;

}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  margin: 0 auto;
  height: 100%;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}





/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
//Original
/* @media (min-width:1201px) { // <- 5-4  hexagons per row
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%; // = 100 / 5
  }
  .hex:nth-child(9n+6){ // first hexagon of even rows
    margin-left:10%;  // = width of .hex / 2  to indent even rows
  }
}

*/
  #hexGrid{
    padding-bottom: 4.4%
  }
#hexContainer{
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(16n+1){ /* first hexagon of even rows */
    margin-left:20%;  /* = width of .hex / 2  to indent even rows */
  }
  .hex:nth-child(3){
    margin-right:20%;  /* = width of .hex / 2  to indent even rows */
    margin-right:10%;
  }
  .hex:nth-child(9n+4){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
}
