//Game art origin: http://kenney.nl/assets
//Origin icons: http://game-icons.net
@import "hexagon";

$fireRed : #800909;
$OrangeFire: #F27D0C;
$YellowFire:#E2B822;

#mainNav{
    text-align: center;
    li{
        display: inline-block;
    }
}

h1{
    font-size: 2em !important;
}

.ui-content{
    text-align: center;
}

.gameNav{
    text-align: center;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    ul{
        width: 100%;
        li:first-of-type{
            margin-left: 0;
        }
        li{
            width: 15%;
            margin-left: 2%;
            .hexInNav{
                .hexLink{
                    background-color: $fireRed;
                }
                .hexLink:hover{
                    background-color:$YellowFire;
                }
            }
        }
    }
    
}
#hexGrid{
    .hexIn *{
        background-image: url("../images/dirt_07.png");
    }
}

#resources{
    background-color: white;
}


@media (min-width:801px) {
  #hexContainer{
      width:750px;
  }
  .gameNav{
      width:800px;
  }

  #resources{
      width:800px;
      height: 732px;
      margin-left: auto;
      margin-right: auto;
  }

}


@media (max-width:800px) {
  #hexContainer{
      width:100%;
      padding: 0 0 0 0;
  }
  .gameNav{
      width:100%;
  }
  #resources{
      width:100%;
      height: 90%;
  }
}
