    <% include templates/header.ejs %>

    <% include templates/gameNav.ejs %>

    <div role="main" class="ui-content">

    
    </div><!-- main -->

    </div><!-- Page -->

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
