<nav class="gameNav">
    <ul id="hexGrid">
        <% for(var i=0; i< 6 ;i++){
            var imageArray = ["resources_fire","village_fire","map_fire","chart_fire","paper_fire","messages_fire"];
            var linkArray = ["fields","village","map","rang","reports","messages"];
            %>
            <li class="hex">
              <div class="hexInNav">
                <a class="hexLink" href='/' data-transition="none" id='<%=linkArray[i]%>' >
                    <img src='../images/<%= imageArray[i]%>.png' alt="" />
                </a>
               </div>
           </li>
        <%}%>
    </ul>
</nav>
