<html>
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Primal Wars </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="resources/jquery-mobile/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="resources/jquery-mobile/FireTheme.min.css" />
    <script src="resources/jquery/jquery-1.11.1.min.js"></script>
    <script src="resources/jquery-mobile/jquery.mobile-1.4.5.min.js"></script>
</header>
<body>
    <div data-role="page" data-theme="a" >
<header data-role="header">

<h1>Primal Wars</h1>
<nav id="mainNav">
    <ul>
        <li><a href="/" class="ui-btn ui-btn-inline"> Home </a></li>
        <li><a href="/" class="ui-btn ui-btn-inline"> Register </a></li>
        <li><a href="/" class="ui-btn ui-btn-inline"> Forum </a></li>
        <li><a href="/" class="ui-btn ui-btn-inline"> About </a></li>
        <li><a href="/" class="ui-btn ui-btn-inline"> Login </a></li>
    </ul>
</nav>
</header><!-- /header -->
