

<div id="hexContainer">

<ul id="hexGrid">
<%
    var n = 5;
    var rows = (n-1)/2
    var hexsInRow = 0;
    var teller = 0;
    for(var i = rows; i>=-rows ;i--){
        for(var j = hexsInRow; j<= rows;j++){
            var coordinate = i + "_" + j
            teller++;
            %>
            <li class="hex">
              <div class="hexIn">
                <a class="hexLink" href="#" id='<%=coordinate%>' >
                  <img src="" alt="" />
                </a>
              </div>
            </li>

            <%
        }
        if(i>0){
            hexsInRow--;
        }else{
            hexsInRow++;
        }
    }
    console.log(teller);
 %>
</ul>
</div>
